.left-sec-custom-cats a{
    background-color: black !important;
    color: rgb(38, 153, 121);
}

.left-sec-custom-cats a:hover{
    background-color: rgb(155, 149, 149) !important;
    color: red;
}
  
.✵{
    color: white;
    font-size: 28px;
}

.custom-blog-list{
    padding: 20px;
    margin: 5px 0;
  }