@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Custom background */
.custom-navbar-bg {
  background-color: rgb(35, 132, 91) !important;
  padding: 8px 16px;
}

/* Branding text */
.custom-navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: white !important;
}

/* Links */
.custom-navbar-link {
  color: white !important;
  font-family: 'Poppins', sans-serif;
}

.custom-navbar-link:hover {
  text-decoration: underline;
}

/* TechBlog Title */
.custom-techblog-text {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: 22px;
}

/* Search input and button */
.custom-search-input {
  font-family: 'Poppins', sans-serif;
}

.custom-search-btn {
  background-color: darkturquoise;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.custom-search-btn:hover {
  background-color: rgb(0, 209, 38);
  color: white;
}

/* Dropdown */
.custom-dropdown-bg {
  background-color: #f0f0f0;
}

.custom-dropdown-item:hover {
  background-color: #d1d1d1;
}

@media (max-width: 768px) {
  .custom-techblog-text {
    display: none;
  }

  form.d-flex {
    width: 100%;
    margin-top: 10px;
  }
}


